html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}
#cloud-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
}

@media only screen and (min-width: 1025px) {
    .bg-g{
        background-color: #F6F6F6;
        padding: 60px;
        margin-bottom: -50px;
    }
    .pade{
        background-color: white;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
        background: #f6f6f6;
    }
} 

a {
    color: #eb2426;
    text-decoration: underline;
}

.text-primary {
    color: #eb2426!important;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border: none!important;
}




.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #eb2426!important;
    color: white!important;
  }


.hand{
    cursor: pointer;
 }

.pade{
    background-color: white;
}

.nav-pills .nav-link {
    border: 0;
    border-radius: 0.25rem;
    width: 50%;
}
.text-sm-center {
    text-align: center!important;
    font-size: 0.8rem;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #eb2426;
}

.btn-primary {
    background-color: #eb2426 !important;
    border-color: #eb2426 !important;
    width: 100%;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #eb2426;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}