body{margin-top:20px;}
.cart-item-thumb {
    display: block;
    width: 10rem
}

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.hand{
    cursor: pointer;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}

.pl-5{
    padding-left: 15px;
}
.totals-item{
    padding-bottom: 25px;
}
.product-card-title > a {
    color: #222;
    text-decoration: auto;
}

.cart-item-thumb > img{
    display: block;
    width: 100%;
    border-radius: 10px;
}
.btn-primary{
    background-color: #3A7D44;
    border-color: #3A7D44;
}